// Colours partial

// Text colours
$txt-primary: #fff;
// body font
$txt-secondary: #ddd;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #666;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #000;
$black-color: #fff;
// Typography colours
$h2-color: #ddd;
$h3-color: #ddd;
$h5-color: #ddd;
// Layout colours
$section-light: #000080;
$section-dark: #000040;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: rgb(0,0,0,0);
$footer-keyline-color: rgb(0,0,0,0);
